.main {
  padding: 20px 10px;
}

.transition {
    transition: all 0.5s ease-in;
}

dl {
  margin-bottom: 20px;
}

dl dt {
    font-size: larger;
}

dl dd {
  margin: 10px 0 10px 25px;
}

/* Not fully function :( 
.dark-grey svg {
    filter: invert(100%);
} */

.mode-switch {
  position: fixed; /* Fixed/sticky position */
  bottom: 15px; /* Place the button at the bottom of the page */
  right: 25px; /* Place the button 30px from the right */
  z-index: 999; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
}

.mode-switch:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.beat-container {
    display: flex;
    vertical-align: auto;
}

.text-wrapper {
    margin: 0 0.8em 0 0.5em;
}

.text-wrapper-end {
    margin: 0 0 0 0;
}


.beat {
    animation: .8s infinite beatHeart;
}

@keyframes beatHeart {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

/* 
.grid-with-link {
  background-color: #ccc;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.grid-with-link .cell {
  text-align: center;
  border: 1px solid #ccc;
  padding: 4px 2px;
} */
